<h2 class="text-center">
  <span class="fa-stack fa-1x">
    <i class="fa-solid fa-coffee fa-stack-1x", id="coffee"></i>
    <i class="fa-regular fa-circle fa-stack-2x"></i>
  </span>
  <br />
    Say Something!
</h2>

<br />
<br />

<div class="container">
  <div class="row g-5">
      <div class="col-md-9">
        <div class="card shadow-lg border-success mb-3 chatmenu">
          <div class="card-header border text-center">Chatroom</div>
            <div class="card-body", id="messages2">
              <%= turbo_stream_from "messages" %>
                <div id="messages" class="m-2">
                    <%= render @messages %>
                </div>
            </div>
            <script>
              
            </script>
          <div class="card-footer border-dark input-group">
            <%= form_with(model: @message, class:"d-flex", role: "form", id: "",
            data: { controller: "reset-form", action: "turbo:submit-end->reset-form#reset" }, url: message_path, ) do |f| %>
            <div>
              <%= f.text_field :body, class:"", placeholder: "Enter a message..", autocomplete: 'off', autofocus: true  %>
              <%= f.submit "Send", class: "btn btn-primary sendbutton" %>
            </div>
            <% end %>

          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card shadow-lg border-success mb-3 onlinemenu">
          <div class="card-header text-center">Online Users</div>
          <div class="card-body", id="messages2">

                <%= turbo_stream_from "users" %>
                  <div id="users">
                    <%= render @users %>
                  </div>
              <a class="nav-link disabled" href="#">Disabled</a>

          </div>
        </div>
      </div>
  </div>
</div>
