<div class="page-content">
  <table class="table align-middle mb-0 bg-white table-responsive">
    <thead class="bg-light">
      <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Sex</th>
        <th>Genetic Test Result</th>
        <th>Location</th>
        <th>Nearest Clinical Site</th>
        <th>Personal Mutation</th>
        <th>Family Mutation</th>
        <th>Condition</th>
        <th>Pedigree</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @subjects.each do |subject| %>
        <tr>
          <td>
            <div class="d-flex align-items-center">
              <div class="ms-3">
                <p class="fw-bold mb-1"><%= subject.name %></p>
              </div>
            </div>
          </td>
          <td>
            <p class="fw-normal mb-1"><%= subject.age %></p>
          </td>
          <td>
            <p class="fw-normal mb-1"><%= subject.sex %></p>
          </td>
          <td>
            <p class="fw-normal mb-1"><%= subject.geneticresult %></p>
          </td>
          <td>
            <p class="fw-normal mb-1"><%= subject.location %></p>
          </td>
          <td>
            <p class="fw-normal mb-1"><%= subject.nearestsite %></p>
          </td>
          <td>
            <p class="fw-normal mb-1"><%= subject.personalmutation %></p>
          </td>
          <td>
            <p class="fw-normal mb-1"><%= subject.familymutation %></p>
          </td>
          <td>
            <p class="fw-normal mb-1"><%= subject.condition %></p>
          </td>
          <td>
            <p class="fw-normal mb-1"><%= subject.pedigree %></p>
          </td>
          <td>
            <button type="button" class="btn btn-link btn-sm btn-rounded">
              Edit
            </button>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="text-center">
    <%= link_to "Import", import_path, class: "btn btn-outline-info" %>
  </div>
</div>
