<div class="container">
  <nav class="navbar border border-info rounded navbar-expand-lg bg-dark m-1 p-1">
    <div class="container-fluid">
      <%= link_to "MessageMe", root_path, class: "navbar-brand", id: "logo" %>
      <button class="navbar-toggler navbar-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="nav-item">
            <%= link_to "Chatroom", root_path, class: "nav-link" %>
          </li>

          <li class="nav-item">
            <%= link_to "About", about_path, class: "nav-link" %>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <%= logged_in? ? "[" + current_user.username + "]" : "Not Logged In" %>
            </a>
            <ul class="dropdown-menu"  aria-labelledby="navbarDropdown">
              <% if logged_in? %>
              <li><%= link_to "Logout", logout_path, method: :delete, class: "dropdown-item" %></li>
              <li><%= link_to "View your profile", user_path(current_user), class: "dropdown-item" %></li>
              <li><%= link_to "Edit your profile", edit_user_path(current_user), class: "dropdown-item" %></li>
              <li><%= link_to "Delete your account", user_path(current_user), class: "dropdown-item text-danger", method: :delete,
              data: {confirm: "Are you sure you want to delete your account and all articles?"} %> </li>
              <% else %>
              <li><%= link_to "Login", login_path, class: "dropdown-item" %></li>
              <% end %>
              <% if !logged_in? %>
              <hr class="dropdown-divider">
              <li><%= link_to "Sign Up", signup_path, class: "dropdown-item" %></li>
              <% end %>
            </ul>
          </li>

        </ul>




      </div>
    </div>

  </nav>
</div>
